.platBtn{
    width: 20em;
    height: 5em;
    /* position: relative; */
  
}
.platBtn .innerBtn{
font-size: 2em;
font-family: var(--gameFont);
font-weight: bold;
}

.gameplayPara{
    font-family: var(--gameFont2);
}
.gameplayHeader{
    font-family: var(--gameFont);
}
