.platBtn {
  width: 20em;
  height: 5em;
  /* position: relative; */
}
.gamePlay-container {
  height: 800px;
}
.platBtn .innerBtn {
  font-size: 2em;
  font-family: var(--gameFont);
  font-weight: bold;
}

.gameplayPara {
  font-family: var(--gameFont2);
}
.gameplayHeader {
  font-family: var(--gameFont);
}
.video-container {
  position: relative;
}
video {
  position: relative;
  top: 10px;
  left: 150px;
  object-fit: cover;
  z-index: 10;
}
