.platBtn {
  width: 20em;
  height: 5em;
}
.gamePlay-container {
  height: 800px;
}
.platBtn .innerBtn {
  font-size: 2em;
  font-family: var(--gameFont);
  font-weight: bold;
}

.gameplayPara {
  font-family: var(--gameFont2);
}
.gameplayHeader {
  font-family: var(--gameFont);
}
.video-container {
  position: relative;
}
.video-container .video {
  width: 1000px;
  height: 400px;
  position: relative;
  top: 10px;
  left: 150px;
  object-fit: cover;
  z-index: 10;
}

@media only screen and (max-width: 576px) and (min-width: 350px) {
  .video-container .video {
    position: relative;
    top: 10px;
    left: 4px;
    object-fit: cover;
    z-index: 10;
    width: 320px;
    height: 300px;
  }
  .platBtn {
    width: 15em;
    height: 3em;
  }
  .platBtn .innerBtn {
    font-size: 1.5em;
    font-family: var(--gameFont);
    font-weight: bold;
  }
}
@media only screen and (max-width: 570px) and (min-width: 470px) {
  .video-container .video {
    position: relative;
    top: 10px;
    left: 18px;
    object-fit: cover;
    z-index: 10;
    width: 450px;
    height: 300px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 571px) {
  .video-container .video {
    width: 500px;
    height: 400px;
    position: relative;
    top: 10px;
    left: 5px;
    object-fit: cover;
    z-index: 10;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .video-container .video {
    width: 700px;
    height: 400px;
    position: relative;
    top: 10px;
    left: 5px;
    object-fit: cover;
    z-index: 10;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .video-container .video {
    width: 900px;
    height: 400px;
    position: relative;
    top: 10px;
    left: 5px;
    object-fit: cover;
    z-index: 10;
  }
}
