.carousel-indicators .active {
  width: 12px !important;
  height: 12px !important;
  margin: 0 !important;
  background-color: #fff !important;
}
.carousel-indicators li {
  display: inline-block !important;
  width: 10px !important;
  height: 10px !important;
  margin: 1px !important;
  text-indent: -999px !important;
  cursor: pointer !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
  padding: 2px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.btn-slider {
  border-radius: 45% !important;
  width: 8em !important  ;
  padding: 1.2em !important;
}
