.img-wrapper .shiba {
  margin: 100px;
  padding-left: 10em;
  width: 35em;
}
.btn-wrapper .socialBtn {
  padding: 0.9em;
  position: relative;
  left: 35%;
  border-radius: 47%;
}
/* .socialContainer {
  margin-top: 8em;
} */
