.img-wrapper .shiba {
  margin: 100px;
  padding-left: 10em;
  width: 35em;
}
.btn-wrapper .socialBtn {
  padding: 0.9em;
  position: relative;
  /* left: 35%; */
  width: 15em;
}
.paragraph1{
font-family: var(--gameFont2);
}
.headerTitle{
font-family: var(--gameFont);
}
.btn{
  font-family: var(--gameFont);
}
