.o-hidden {
  overflow: hidden;
}
.bg-primary-3 {
  background-color: rgb(54, 159, 227) !important;
}
section {
  padding: 6rem 0;
}
section {
  position: relative;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
/* *,
::after,
::before {
  box-sizing: border-box;
} */
/* user agent stylesheet section {
  display: block;
} */
.purchaseBtn {
  background-color: #fcd032 !important;
}
.timerHeader{
font-family: var(--gameFont);
}

.timerPara{
font-family: var(--gameFont);
}
.timerDigits{
font-family: var(--gameFont2);
}
.timerClock{
font-family: var(--gameFont2);
}
.timerBox{
  width: 45em;
  height: 12em;
  /* margin-left: 20px!important; */
  margin-right: 10px;
  
}