@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap');
.App {
  background-color: rgb(54, 159, 227);
}
:root{
  --gameFont: 'Orbitron', sans-serif;
  --gameFont2: 'Press Start 2P', cursive;
}
